<link rel="stylesheet" href="bootstrap.min.css"">
<script type="text/javascript" src="angular.min.js"></script>
<script type="text/javascript" src="app.js"></script>
<h1 class="header text-center">Url Shortener</h1>
<div ng-app="urlShortener" class="container">
  <div ng-controller="urlsController">
    <div class="input-group mb-3">
      <input type="text" ng-model="fullLink" class="form-control" placeholder="Website URL" aria-label="Website URL" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" ng-click="addRecord()">Make it short</button>
      </div>
    </div>
    <table class="table table-striped">
      <tr ng-repeat="record in records">
        <td><a target="_blank" href = {{record.shortLink}}>{{record.shortLink}}</a></td>
        <td>{{record.fullLink}}</td>
        <td><button type="button" class="btn btn-dark btn-sm" ng-click="delete($index)">Remove</button></td>
      </tr>
    </table>
  </div>
</div>